<!-- Quiz Overlay -->
<div class="quiz-overlay" id="quizOverlay">
    <div class="quiz-box">
        <div class="quiz-progress" id="quizProgress">Question 1 of 10</div>
        <div class="quiz-question" id="quizQuestion">Question text will appear here</div>
        <div class="quiz-options" id="quizOptions">
            <!-- Options buttons generated dynamically -->
        </div>
        <div class="quiz-nav">
            <button id="skipButton">Skip</button>
            <button id="nextButton">Next</button>
        </div>
    </div>
</div>
